name: 02- Workflow Events

on: push

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: Show the Trigger
              run: echo "I've been triggeed by a(n) ${{ github.event_name }} event."